{% extends "base.html" %}
{% block title %} Add a Shop {% endblock %}
{% block content%}
<h1> What is the name of the coffee shop you would like to rate? </h1>
<form action="/shop_add" method = "POST">
    <p style="color:white">Coffee shop name? <input type = "text" name = "name" /></p>
    <p style="color:white">How would you rate the coffee? (out of 5.0) <input type = "text" name = "rating" /></p>
    <p><input class="btn btn-primary" type = "submit" value = "Submit" /></p>
</form>
{% endblock%}

