{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content%}
    <div class="container-fluid">
    <h1 style="color:white; font-size=300%;">Welcome to the coffee lover shop index!</h1>
    <div style="color:white">There are currently {{shops}} coffee shops in our database!</div>

    </div>

<div>
<form action="/shops/<name>/ratings" class="form" method="POST">
    <p style="color:white">What is the name of the shop you are looking for? <input type = "text" name = "name" /></p>
    <p><input class="btn btn-primary" type = "submit" value = "Submit" /></p>
</form>
</div>
{% endblock %}