{% extends "base.html" %}
{% block title %} Add a Shop {% endblock %}
{% block content%}
<h1> Here, you can rate your experience at a coffee shop </h1>
<form action="/shop_add" method = "POST">
    <div class="container w-50 form-group mx-auto pt-5">
        <p style="color:white">Coffee shop name? <input type ="text" placeholder="Enter a name of a coffee shop" class="form-control" name="name" /></p>
        <p style="color:white">How would you rate the coffee? (out of 5.0) <input type ="text" placeholder="Rating" class="form-control" name="rating" /></p>
        <p><input class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black" type = "submit" value = "Submit" /></p>
    </div>
</form>
{% endblock%}

