{% extends "base.html" %} {% block title %} Sign up {% endblock %}
{% block content %}
<form action="/data/" method = "POST">
    <h3 align="center" style="color:white; size:500%">Tell us more about you</h3>
    <div align="center" class="form-group">
        <p style="color:white">City <input type = "text" class="form-control" placeholder="Enter City" name = "city" /></p>
        <p style="color:white">Enter a favorite coffee location <input type = "text" class="form-control" placeholder="Enter Location" name = "locations" /></p>
        <p><input type = "submit" value = "submit" /></p>
    </div>
</form>
{% endblock %}
