{% extends "base.html" %} {% block title %} Sign up {% endblock %}
{% block content %}
<form method = "POST">
    <h3 align="center" style="color:white; size:500%">Sign up</h3>
    <div align="center" class="container w-50 form-group mx-auto pt-5">
        <p style="color:white">Enter email <input type = "email" class="form-control" placeholder="Enter Email" name = "email" /></p>
        <p style="color:white">Name <input type = "text" class="form-control" placeholder="Enter Name" name = "name" /></p>
        <p style="color:white">Enter a password <input type="password" class="form-control" placeholder="Enter Password" name="password1"/></p>
        <p style="color:white">Confirm password <input type="password" class="form-control" placeholder="Confirm Password" name="password2"/></p>
        <p><input class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black" type = "submit" value = "Submit" /></p>
    </div>
</form>
{% endblock %}
